@import "detachment.css";
@import "home.css";
@import "armies.css";
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body {
	/*background-color: black;*/
	/*color: green;*/
	font-family: 'Orbitron', sans-serif;
	margin: 0;
}

a:hover {
	cursor: pointer;
	text-decoration: none;
}

header {
	display: flex;
	height: 30px;
	padding: 30px;
	background-color: black;
	color: #F12E21;
	position: fixed;
	width: -webkit-fill-available;
	top: 0;
	font-size: 24px;
	text-align: center;
}
header .left {
	/*float: left;*/
}
header .middle {
	flex-grow: 1;
}

.table {
    width: 100%;
    border-spacing: 0;
    margin-bottom: 30px;

    .number-th,
    .currency-th,
    .number-td,
    .currency-td {
        text-align: right;
    }
}

.table thead th {
    border-bottom: 2px solid #e6e6e6;
    padding: 10px;
    padding: 0;

    .sort-field-indicators .border-color-branded {
        border-right-color: transparent;
        border-left-color: transparent;
    }

/*    &.dragHandle-th {
        width: 30px;
    }
*/
}
.table thead th {
    padding: 10px;
    text-align: left;
}
.table thead th,
.table thead th .Anchor {
    font-size: 16px;
    font-weight: 500;
}
.table tbody tr {
    border-top: 1px solid #e6e6e6;
}
.table.has-clickable-rows > tbody > tr:hover {
    background-color: #f2f2f2;
}
.table tbody td {
    line-height: 30px;
    vertical-align: middle;
    padding: 10px;

    .btn {
        height: 30px;
        line-height: 30px;
    }

}
.table tbody .link-field {
    padding: 0;
}
.table tbody .link-field a {
    padding: 10px;
    color: #666;
    width: 100%;
    display: block;
    text-decoration: none;
}
.table tbody .link-field a:hover {
    text-decoration: none;
}
.table tbody .icon-field {
	width: 15px;
}
.table tbody .icon-field.edit {
	color: green;
}
.table tbody .icon-field.delete {
	color: red;
}

.btn {
	background-color: black;
	color: #8DF57B;
	border-radius: 5px;
	border-color: gray;
	border: 1;
	height: 40px;
	padding: 10px;
	padding-left: 15px;
	padding-right: 15px;
	font-size: 16px;
	font-family: 'Orbitron', sans-serif;
}
.btn:hover {
	cursor: pointer;
}
.btn.btn-cancel {
	background-color: #ccc;
	color: #407837;
	text-decoration-line: none;
}

.bottom-buttons {
	display: flex;
    margin-top: 30px;
}
.bottom-buttons .bottom-buttons__left {
	flex-grow: 1;
}
.bottom-buttons .bottom-buttons__left.fix a {
	color: red;
	position: relative;
	top: 10px;
}

.main-body {
	margin: 30px;
	margin-top: 100px;
}

.power {
	/*margin-left: 20px;*/
	padding-top: 50px;
	padding-left: 15px;
	padding-right: 15px;
}

.row {
	margin-top: 30px;
	font-size: 22px;
	display: flex;
	flex-direction: row;
}

.unit {
	width: 48%;
	display: flex;
	flex-direction: row;
}

.clickable-area {
	flex-grow: 4;
	display: flex;
}
.clickable-area:hover {
	box-shadow: 3px 3px 5px 6px teal;
	cursor: pointer;
}

.included {
	margin-top: 56px;
}

.unit-label {
	flex-grow: 4;
	padding-top: 50px;

}
.unit:first-of-type {
	text-align: right;
}

hr {
	margin-top: 90px;
}

.team {
	width: 48%;
	display: inline-block;
	text-align: center;
	font-size: 26px;
}

.unit-image {
	height: 150px;
}

.variations {
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
}
.variation {
	display: flex;
	flex-direction: column;
	text-align: center;
}
.variation input {
	margin-left: 48%;
}

.awt-modal-react {
	color: red;


/*    &.ani-enter .modal-backdrop {
        opacity: 0.01;
    }

    &.ani-enter .modal-dialog {
        transform: translate(0, -25%);
    }

    &.ani-enter.ani-enter-active .modal-backdrop {
        #awt > .default-transition(opacity);

        opacity: 0.5;
    }

    &.ani-enter.ani-enter-active .modal-dialog {
        #awt > .default-transition("transform, opacity");

        opacity: 1;
        transform: translate(0, 0);
    }

    &.ani-leave .modal-backdrop {
        opacity: 0.5;
    }

    &.ani-leave .modal-dialog {
        transform: translate(0, 0);
    }

    &.ani-leave.ani-leave-active .modal-backdrop {
        #awt > .default-transition(opacity);

        opacity: 0.01;
    }

    &.ani-leave.ani-leave-active .modal-dialog {
        #awt > .default-transition("transform, opacity");

        opacity: 0.01;
        transform: translate(0, -25%);
    }

    .modal-content__close-ex:hover {
        text-decoration: none;
    }

    .modal-content__header-text {
        max-height: 68px;
        overflow: hidden;
    }
*/
}

.slot {
	color: black;
	margin-left: 30px;
}

.awt-modal-react .modal-backdrop {
    background-color: #000;
    bottom: 0;
    left: 0;
    opacity: 0.5;
    position: fixed;
    right: 0;
    top: 0;
}

.modal {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    display: block;
    z-index: 1000;
    overflow-x: hidden;
    overflow-y: auto;
}

.modal-content__header {
	font-size: 24px;
	color: green;
	background-color: black;
	padding: 15px;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	text-align: center;
}

.modal-content__body {
	padding-top: 30px;
	padding-left: 30px;
	padding-right: 30px;
}

.modal-dialog {
	box-shadow: 3px 3px 5px 6px teal;
	position: relative;
	width: 600px;
	background-color: white;
	margin-left: auto;
	margin-right: auto;
	margin-top: 100px;
	margin-bottom: 50px;
	padding-top: 0;
	padding-bottom: 30px;
	border-radius: 10px;
}

.slot .Selectimus {
	width: 80%;
	display: inline-block;
	margin-top: 10px;
}

.slot-points {
	margin-left: 10px;
}

.remove-slot-model {
	margin-left: 10px;
}
.remove-slot-model:hover {
	cursor: pointer;
}

.form-group {
	margin-bottom: 30px;
}
.form-group label {
	display: block;
	margin-bottom: 10px;
}
.form-group .form-control {
	height: 32px;
	font-size: 16px;
	border: 1px solid #CCCCCC;
	border-radius: 4px;
	padding-left: 10px;
	color: #333333;
	width: 100%;
	font-family: 'Orbitron', sans-serif;
}
.radio-group {
	margin-bottom: 15px;
}
.radio-group input[type="radio"] {
	margin-left: 30px;
	margin-right: 10px;
}

.variation-name {
	margin-bottom: 20px;
	margin-top: 20px;
	font-weight: bold;
}
.variation-label {
	color: green;
}
.model-type-name {
	margin-top: 10px;
}

.ribbon {
	position: fixed;
    background-color: #dddddd;
    right: 0;
    padding: 15px;
    top: 20px;
    color: green;
}
